# Data Processing

Now that I have collected data on country economic indicators and happiness data for countries in the Data Collection notebook, it is very important to clean the data, prepare it, and have it ready for use to analyze it. In this section, I took the raw World Bank JSON data and transformed it into a ready-to-use, structured tabular format. I exported this data into both a csv, and created a dataset, and exported that dataset into database.db. In addition to this, I compiled the 2018-2023 World Happiness Index data, pulled the columns I needed, and cleaned it as well, putting it into a structured dataset and csv, and exported it to database.db as well. 

An Overview of the pipeline is below:
- Converted World Bank JSON data for the selected economic indicators
- Cleaned column names, handled missing values, and calculated GDP per capita
- Formatted figures for readability
- Compiled World Happiness Reports from 2018â€“2023 into a single dataset
- Selected consistent metrics across years (happiness score, generosity, etc).
- Filtered to the set of countries that I am working with and added a year column for tracking.
The final outputs were structured, analysis-ready datasets that I stored in both CSV files and database.db.

## World Bank Data Cleaning and Processing

In [1]:
# Imported all of the imports that I need
import json
import pandas as pd
import os

# Imported my script and util python file
import sys
sys.path.append('/files/me204-2025-project-jayden/scripts')

# Imported util to reduce redundancy
from utils import indicators
from utils import year_column_map

import sqlite3
# Making sure to import SQL imports for database operations
from sqlalchemy import create_engine, text

After importing the right packages and utils, I loaded in the World Bank Data JSON in from the raw folder to clean and process it by converting it into a dataframe.

In [2]:
# Loaded the raw JSON data in
with open('/files/me204-2025-project-jayden/data/raw/world_bank_raw_data.json', 'r') as f:
    raw_json_data = json.load(f)

# Defined a function that parsed the JSON structure into a list of records (one per country-year-indicator)
# Each record represented a single data point for a specific country and year
# The function extracted the country name, ISO3 code, year, and the indicator value
# It also handled missing values by assigning None when the indicator value was not available
def parse_json_to_records(json_data, code):
    return [
        {
            'country': entry['country']['value'],
            # Extracted the full country name
            # iso3 is the code name (or sort of like an id) for each country
            'iso3': entry['country']['id'],
            # Extracted the ISO3 country code
            'year': int(entry['date']),
            # Converted the year from string to integer
            code: float(entry['value']) if entry['value'] is not None else None
        }
        for entry in json_data[1]
        # Iterated over the list of data entries in the JSON response
    ]

In [3]:
# Created a list of DataFrame (one for each indicator) using list comprehension
# Each DataFrame was renamed to use an easily readable label instead of the raw indicator code
dfs = [
    pd.DataFrame(parse_json_to_records(raw_json_data[code], code)).rename(columns={code: label})
    for code, label in indicators.items()
]

# Merged all individual DataFrames into a single DataFrame by iteratively joining on country, iso3, and year
df_full = dfs[0]
for df in dfs[1:]:
    df_full = pd.merge(df_full, df, on=['country', 'iso3', 'year'], how='outer')

# Sorted the final DataFrame by country code and year, then reset the index for cleanliness
df_full = df_full.sort_values(['iso3', 'year']).reset_index(drop=True)

# Displayed the final DataFrame
df_full

,country,iso3,year,GDP_Current_USD,Health_Expenditure_%_GDP,Education_Expenditure_%_GDP,Unemployment_Rate_%,Inflation_Annual_%,FDI_Net_Inflows_%_GDP,Population_Total,Life_Expectancy_Years,Govt_Effectiveness,Rule_of_Law,Control_of_Corruption,Political_Stability,Voice_and_Accountability
0,Denmark,DK,2018,3.552934e+11,10.097642,7.296910,5.131,0.813609,2.466701,5793636.0,80.953659,1.810602,1.773226,2.156996,0.931982,1.574022
1,Denmark,DK,2019,3.454015e+11,10.152435,7.255050,5.018,0.758132,-1.100671,5814422.0,81.451220,1.873268,1.833377,2.121649,0.967599,1.543434
2,Denmark,DK,2020,3.556310e+11,10.718546,7.383540,5.637,0.420712,0.363875,5831404.0,81.602439,1.840067,1.806794,2.236486,0.920234,1.514785
3,Denmark,DK,2021,4.083782e+11,10.747286,6.999930,5.043,1.853045,4.162143,5856733.0,81.404878,1.959734,1.895721,2.333371,0.928663,1.544976
4,Denmark,DK,2022,4.019456e+11,9.475862,5.296434,4.434,7.696567,7.667934,5903037.0,81.304878,1.990135,1.899581,2.402638,0.868918,1.591254
5,Denmark,DK,2023,4.070919e+11,9.417846,NaN,5.094,3.305178,1.124286,5946952.0,81.853659,2.015649,1.908936,2.376053,0.850848,1.664699
6,Denmark,DK,2024,4.294574e+11,NaN,NaN,5.587,1.372200,4.214609,5976992.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Finland,FI,2018,2.738693e+11,9.045142,6.275580,7.361,1.083821,-3.844567,5515525.0,81.734146,2.013878,2.034399,2.171759,0.891890,1.589352
8,Finland,FI,2019,2.670148e+11,9.171427,6.416950,6.695,1.024094,6.097077,5521606.0,81.982927,1.972805,2.012629,2.113933,0.835259,1.562998
9,Finland,FI,2020,2.700003e+11,9.632496,6.634940,7.759,0.290555,-0.939114,5529543.0,81.931707,1.901004,2.018592,2.170440,0.981825,1.609512
10,Finland,FI,2021,2.942232e+11,9.834583,6.538260,7.617,2.194574,8.014063,5541017.0,81.885366,1.918311,2.013476,2.237841,0.963276,1.609369
11,Finland,FI,2022,2.802531e+11,9.658922,NaN,6.719,7.123508,4.666912,5556106.0,81.187805,1.754582,1.957900,2.246865,0.894830,1.606770
12,Finland,FI,2023,2.949506e+11,NaN,NaN,7.151,6.250643,-0.115644,5583911.0,81.685366,1.738607,1.967046,2.221517,0.713987,1.632636
13,Finland,FI,2024,2.998356e+11,NaN,NaN,8.260,1.565689,0.660778,5637214.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Iceland,IS,2018,2.626085e+10,8.438176,7.563500,2.704,2.682918,-2.371280,352721.0,82.860976,1.425814,1.679251,1.805603,1.394817,1.389574
15,Iceland,IS,2019,2.468134e+10,8.639963,7.601300,3.507,3.013972,-2.254592,360563.0,83.163415,1.482035,1.726326,1.670638,1.619806,1.302418
16,Iceland,IS,2020,2.162995e+10,9.677807,8.583830,5.478,2.847924,-4.061305,366463.0,83.063415,1.475930,1.750222,1.666864,1.375032,1.381754
17,Iceland,IS,2021,2.577034e+10,9.786970,8.217810,6.029,4.444240,1.805387,372520.0,83.165854,1.593884,1.712633,1.760121,1.372353,1.362640
18,Iceland,IS,2022,2.869645e+10,9.285939,7.139665,3.789,8.308755,4.872124,382003.0,82.119512,1.562987,1.702905,1.567500,1.249699,1.427459
19,Iceland,IS,2023,3.145222e+10,8.991660,NaN,3.518,8.736303,5.189089,393349.0,82.607317,1.555121,1.721118,1.551306,1.214404,1.445902
20,Iceland,IS,2024,3.346281e+10,NaN,NaN,3.107,5.856838,1.564433,404610.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Netherlands,NL,2018,9.297336e+11,10.019936,5.357650,3.832,1.703498,-30.777527,17231624.0,81.812195,1.809737,1.744465,1.889146,0.838281,1.499814
22,Netherlands,NL,2019,9.289030e+11,10.140396,5.159860,3.379,2.633699,-13.674036,17344874.0,82.112195,1.767153,1.734739,1.867612,0.821325,1.483595
23,Netherlands,NL,2020,9.325609e+11,11.223557,5.423810,3.820,1.272460,-23.709511,17441500.0,81.358537,1.805218,1.706331,1.999983,0.830933,1.520006
24,Netherlands,NL,2021,1.054472e+12,11.124907,5.506090,4.209,2.675720,-10.953260,17533044.0,81.309756,1.725137,1.698627,2.004242,0.893059,1.489902
25,Netherlands,NL,2022,1.046541e+12,10.100683,5.052011,3.526,10.001208,1.487043,17700982.0,81.614634,1.578899,1.656766,1.917200,0.726800,1.547133
26,Netherlands,NL,2023,1.154361e+12,NaN,NaN,3.537,3.838394,-26.768698,17877117.0,81.914634,1.625532,1.642504,1.867100,0.658282,1.556264
27,Netherlands,NL,2024,1.227544e+12,NaN,NaN,3.599,3.347543,-1.099905,17994237.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Sweden,SE,2018,5.513125e+11,10.941063,7.640840,6.365,1.953535,-0.129537,10175214.0,82.558537,1.671094,1.784075,2.109637,0.921418,1.580797
29,Sweden,SE,2019,5.321693e+11,10.832243,7.638510,6.833,1.784151,2.984475,10278887.0,83.109756,1.674012,1.792162,2.091949,1.011886,1.559058
30,Sweden,SE,2020,5.451476e+11,11.332970,7.925610,8.291,0.497367,3.396835,10353442.0,82.356098,1.670027,1.767410,2.094511,0.997377,1.498041
31,Sweden,SE,2021,6.371869e+11,11.101806,7.572200,8.722,2.163197,9.099547,10415811.0,83.056098,1.610255,1.699357,2.098498,1.014508,1.492748
32,Sweden,SE,2022,5.798957e+11,10.498570,NaN,7.392,8.369291,9.303925,10486941.0,83.058537,1.572405,1.688509,2.061525,0.910905,1.526128
33,Sweden,SE,2023,5.854900e+11,10.886824,NaN,7.611,8.548625,3.077149,10536632.0,83.309756,1.601383,1.604023,2.028246,0.758365,1.574832
34,Sweden,SE,2024,6.101178e+11,NaN,NaN,8.528,2.835817,4.374652,10569709.0,NaN,NaN,NaN,NaN,NaN,NaN
35,United States,US,2018,2.065652e+13,16.615309,4.895020,3.896,2.442583,1.039454,328529577.0,78.639024,1.536972,1.475687,1.292747,0.386239,0.995457
36,United States,US,2019,2.153998e+13,16.661253,4.957470,3.669,1.812210,1.466965,330226227.0,78.787805,1.453415,1.424173,1.180357,0.118299,0.905182
37,United States,US,2020,2.135410e+13,18.813253,5.399980,8.055,1.233584,0.641872,331577720.0,76.980488,1.274593,1.336494,1.037832,-0.027900,0.856266
38,United States,US,2021,2.368117e+13,17.506386,5.428300,5.349,4.697859,2.009212,332099760.0,76.329268,1.297531,1.389157,1.019278,-0.014425,0.876889
39,United States,US,2022,2.600689e+13,16.496140,NaN,3.650,8.002800,1.572591,334017321.0,77.434146,1.255496,1.369202,1.104145,0.008701,0.860348
40,United States,US,2023,2.772071e+13,NaN,NaN,3.638,4.116338,1.258207,336806231.0,78.385366,1.217201,1.327678,1.123433,0.029425,0.877519
41,United States,US,2024,2.918489e+13,NaN,NaN,4.106,2.949525,1.329421,340110988.0,NaN,NaN,NaN,NaN,NaN,NaN

After organizing the data into a dataframe, there seemed to be a large amount of columns and rows that need to be cleaned for easier readability. For example, columns are camel cased, values have a large amount of unnecessary decimals, GDP is in scientific notation, and the Country Code is not really needed. Lastly, 2024 has mostly NaN values, most likely because data hasn't been fully reported. I fixed these problems and cleaned the dataset below by dropping that year

In [4]:
# Round all numeric columns to 2 decimal places
df_full = df_full.round(2)

# Format the 'GDP_Current_USD' column without scientific notation using list comprehension
# Created a new list called 'formatted_gdp', and for each value in the 'GDP_Current_USD' column, format it to:
#   - include commas for thousands
#   - show exactly two decimal places
# If the value is null, keep it as None
# This ensures that GDP values are more readable and consistent instead of being in scientific notation
formatted_gdp = [
    float(val) if pd.notnull(val) else None
    # Formatted string
    for val in df_full["GDP_Current_USD"].values
    # Looping through all values in GDP
]
df_full["GDP_Current_USD"] = formatted_gdp

# Remove all rows where the 'year' column equals 2024
# This filters a lot of null values out
df_full = df_full[df_full['year'] < 2024].reset_index(drop=True)

df_full = df_full.drop('iso3', axis = 1)

df_full.head()

,country,year,GDP_Current_USD,Health_Expenditure_%_GDP,Education_Expenditure_%_GDP,Unemployment_Rate_%,Inflation_Annual_%,FDI_Net_Inflows_%_GDP,Population_Total,Life_Expectancy_Years,Govt_Effectiveness,Rule_of_Law,Control_of_Corruption,Political_Stability,Voice_and_Accountability
0,Denmark,2018,3.552934e+11,10.10,7.30,5.13,0.81,2.47,5793636.0,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,3.454015e+11,10.15,7.26,5.02,0.76,-1.10,5814422.0,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,3.556310e+11,10.72,7.38,5.64,0.42,0.36,5831404.0,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,4.083782e+11,10.75,7.00,5.04,1.85,4.16,5856733.0,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,4.019456e+11,9.48,5.30,4.43,7.70,7.67,5903037.0,81.30,1.99,1.90,2.40,0.87,1.59

In [5]:
# Reformat column names to improve readability
# Made country and year have the correct uppercase titles
df_full = df_full.rename(columns={"country": "Country", "year": "Year"})

# Replace all underscores "_" with spaces " " across all column headers
df_full.columns = [col.replace('_', ' ') for col in df_full.columns]
df_full.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability
0,Denmark,2018,3.552934e+11,10.10,7.30,5.13,0.81,2.47,5793636.0,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,3.454015e+11,10.15,7.26,5.02,0.76,-1.10,5814422.0,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,3.556310e+11,10.72,7.38,5.64,0.42,0.36,5831404.0,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,4.083782e+11,10.75,7.00,5.04,1.85,4.16,5856733.0,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,4.019456e+11,9.48,5.30,4.43,7.70,7.67,5903037.0,81.30,1.99,1.90,2.40,0.87,1.59

After that portion of the cleaning, I noticed that GDP and population total has decimals that are not needed, so I'll change that below.

In [6]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      36 non-null     object
 1   Year                         36 non-null     int64
 2   GDP Current USD              36 non-null     float64
 3   Health Expenditure % GDP     33 non-null     float64
 4   Education Expenditure % GDP  27 non-null     float64
 5   Unemployment Rate %          36 non-null     float64
 6   Inflation Annual %           36 non-null     float64
 7   FDI Net Inflows % GDP        36 non-null     float64
 8   Population Total             36 non-null     float64
 9   Life Expectancy Years        36 non-null     float64
 10  Govt Effectiveness           36 non-null     float64
 11  Rule of Law                  36 non-null     float64
 12  Control of Corruption        36 non-null     float64
 13  Political Stability          36 non-null     float64
 14  Voice and Accountability     36 non-null     float64
dtypes: float64(13), int64(1), object(1)
memory usage: 4.3+ KB

It looks like GDP is a float. So it should be converted into an Int and rounded.

In [7]:
# Rounded 'Population_Total' to whole numbers by converting to integer
# Used pd.Series.round(0) and then converted it to int to remove decimals cleanly
df_full['Population Total'] = df_full['Population Total'].round(0).astype('Int64')

# Used the same logic
df_full['GDP Current USD'] = df_full['GDP Current USD'].round(0).astype('Int64')

df_full.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59

I would also like to add the GDP per capita column, because it would be very useful in the future for more of a relative number to take away biasness for larger countries. It provided a normalized economic indicator no matter the country size.

In [8]:
# GDP / Population = GDP per Capita
df_full['GDP Per Capita'] = df_full['GDP Current USD'] / df_full['Population Total']
df_full.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability,GDP Per Capita
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57,61324.766504
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54,59404.266325
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51,60985.48856
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54,69727.987368
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59,68091.319114

Now the GDP per Capita is also a decimal, so I rounded it two decimals

In [9]:
world_bank_data = df_full.round(2)
world_bank_data.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability,GDP Per Capita
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57,61324.77
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54,59404.27
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51,60985.49
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54,69727.99
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59,68091.32

I then saved that to processed data so that it's stored in the project

In [10]:
world_bank_data.to_csv('/files/me204-2025-project-jayden/data/processed/world_bank_cleaned_data.csv', index=False)

## World Happiness Index Data Cleaning and Processing

Now that the full dataset of Economic Indicators is cleaned and ready to use, I will now clean, compile, and merge all of my World Happiness Data of csv's into one World Happiness Data dataframe with only the countries that I need. The raw csv's for this folder have different column values and names, so a large amount of cleaning needs to be done before this dataset is ready

In [11]:
# Retrieving the data from the files
folder_path = '/files/me204-2025-project-jayden/data/raw/World_Happiness_Data'

all_data = []

for year in range(2018, 2024):
    # Made a year counter so I can add it for every row to the dataset
    year_str = str(year)
    # Constructed the full file path for the given year's CSV
    file_path = os.path.join(folder_path, f"{year_str}.csv")

    df = pd.read_csv(file_path)
    # Retrieved the column name mapping for this specific year from the util year_column_map 
    # function, which basically is just a parameter dictionary of the columns I want to pull from the
    # Happiness Index Dataset
    col_map = year_column_map[year_str]
    
    # Used dictionary comprehension to extract and rename relevant columns
    # This function uses the year_column_map dictionary to pull the values thta I need from the World Happiness
    # Index even if columns don't have the same name as other datasets
    extracted = {
        final_col: (
            range(1, len(df) + 1) if final_col == 'Rank' and orig_col is None
            # If the final column is 'Rank' and the original column is missing, then I generated rank values 
            # from 1 to n
            else df[orig_col] if orig_col in df.columns
            else [None] * len(df)
            # If the original column existed in the DataFrame, then I pulled its values from the year_column_map
            # otherwise, if the column was missing, I filled it with None values
        )
        for final_col, orig_col in col_map.items()
        # Loop through all years/csv's
    }
    
    cleaned_df = pd.DataFrame(extracted)
    # Added a year column so we can keep track of the year
    cleaned_df['Year'] = year
    # Appended all the clean datasets all onto each other
    all_data.append(cleaned_df)

# Concatenate all years into a dataframe
final_df = pd.concat(all_data, ignore_index=True)
final_df

,Rank,Country,Happiness Score,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.592,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.582,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.590,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.644,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.549,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...
893,133,Congo (Kinshasa),3.207,0.652,0.664,0.086,0.834,2023
894,134,Zimbabwe,3.204,0.690,0.654,-0.046,0.766,2023
895,135,Sierra Leone,3.138,0.555,0.660,0.105,0.858,2023
896,136,Lebanon,2.392,0.530,0.474,-0.141,0.891,2023
897,137,Afghanistan,1.859,0.341,0.382,-0.081,0.847,2023

The Year column being at the end (the last column) is not optimal, especially if I am turning this into a dataset  in a the database, and year is a key. For this reason and readability, I will reorder the columns. I also only need the 6 countries that I am analyzing.

In [12]:
# Reorder columnds
cols_order = ['Year', 'Rank', 'Country', 'Happiness Score', 'Social support', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
final_df = final_df[cols_order]

# I only need the 5 countries that I am analyzing
target_countries = ['United States', 'Finland', 'Sweden', 'Denmark', 'Iceland', 'Netherlands']
happiness_index_data = final_df[final_df['Country'].isin(target_countries)].reset_index(drop=True)
# Rounding the decimals
happiness_index_data = happiness_index_data.round(2)

# Save the Dataset on a csv
happiness_index_data.to_csv('/files/me204-2025-project-jayden/data/processed/merged_happiness.csv', index=False)
happiness_index_data

,Year,Rank,Country,Happiness Score,Social support,Freedom to make life choices,Generosity,Perceptions of corruption
0,2018,1,Finland,7.63,1.59,0.68,0.20,0.39
1,2018,3,Denmark,7.56,1.59,0.68,0.28,0.41
2,2018,4,Iceland,7.50,1.64,0.68,0.35,0.14
3,2018,6,Netherlands,7.44,1.49,0.64,0.33,0.30
4,2018,9,Sweden,7.31,1.50,0.66,0.28,0.38
5,2018,18,United States,6.89,1.47,0.55,0.29,0.13
6,2019,1,Finland,7.77,1.59,0.60,0.15,0.39
7,2019,2,Denmark,7.60,1.57,0.59,0.25,0.41
8,2019,4,Iceland,7.49,1.62,0.59,0.35,0.12
9,2019,5,Netherlands,7.49,1.52,0.56,0.32,0.30
10,2019,7,Sweden,7.34,1.49,0.57,0.27,0.37
11,2019,19,United States,6.89,1.46,0.45,0.28,0.13
12,2020,1,Finland,7.81,0.95,0.95,-0.06,0.20
13,2020,2,Denmark,7.65,0.96,0.95,0.07,0.17
14,2020,4,Iceland,7.50,0.97,0.95,0.25,0.71
15,2020,6,Netherlands,7.45,0.94,0.91,0.21,0.36
16,2020,7,Sweden,7.35,0.93,0.94,0.11,0.25
17,2020,18,United States,6.94,0.91,0.84,0.15,0.70
18,2021,1,Finland,7.84,0.95,0.95,-0.10,0.19
19,2021,2,Denmark,7.62,0.95,0.95,0.03,0.18
20,2021,4,Iceland,7.55,0.98,0.96,0.16,0.67
21,2021,5,Netherlands,7.46,0.94,0.91,0.18,0.34
22,2021,7,Sweden,7.36,0.93,0.94,0.09,0.24
23,2021,19,United States,6.95,0.92,0.84,0.10,0.70
24,2022,1,Finland,7.82,1.26,0.74,0.11,0.53
25,2022,2,Denmark,7.64,1.24,0.72,0.19,0.53
26,2022,3,Iceland,7.56,1.32,0.72,0.27,0.19
27,2022,5,Netherlands,7.42,1.21,0.65,0.27,0.42
28,2022,7,Sweden,7.38,1.20,0.72,0.22,0.51
29,2022,16,United States,6.98,1.18,0.57,0.22,0.18
30,2023,1,Finland,7.80,0.97,0.96,-0.02,0.18
31,2023,2,Denmark,7.59,0.95,0.93,0.13,0.20
32,2023,3,Iceland,7.53,0.98,0.94,0.21,0.67
33,2023,5,Netherlands,7.40,0.93,0.89,0.21,0.38
34,2023,6,Sweden,7.40,0.94,0.95,0.16,0.20
35,2023,15,United States,6.89,0.92,0.80,0.14,0.69

Now the Happiness Index dataset is ready to use. I then created a database comprising of both the Happinass Index dataset and the World Bank Economic Indicator dataset. To do this, I used python to clean the data so it was ready for SQL, and then used SQL to create the datasetsnd used SQL Alcheny to connect it to the database.

## Processing and Creating the Database

Since SQL has its own formatting, I needed to change the data to be able to be handled by SQL. SQL doesn't accept spaces or percent symbols, so some cleaning had to be done below.

In [13]:
# Define the database path
db_path = "/files/me204-2025-project-jayden/data/database.db"

# SQL couldn't handle % and spaces, so I converted columns into a compatible form
world_bank_data.columns = (
    world_bank_data.columns
    .str.strip()
    .str.replace(" ", "_")
    # Removed spaces and replace % with percent, and space with _
    .str.replace("%", "percent")
)

happiness_index_data.columns = (
    # Did the same with the Happiness Index (cleaned it so SQL can read it)
    happiness_index_data.columns
    .str.strip()
    .str.replace(" ", "_")
)

After cleaning the dataset, and making it into a ready-to-use dataset in python, it was then time to create the dataset in SQL and connect it to the SQL database

### Creating the datasets

In [14]:
# Defined and made the schema for the world_bank_data table that I
# I will put in database.db
world_bank_schema = """
CREATE TABLE IF NOT EXISTS world_bank_data (
    Country TEXT,
    Year INTEGER,
    GDP_Current_USD INTEGER,
    Health_Expenditure_percent_GDP REAL,
    Education_Expenditure_percent_GDP REAL,
    Unemployment_Rate_percent REAL,
    Inflation_Annual_percent REAL,
    FDI_Net_Inflows_percent_GDP REAL,
    Population_Total INTEGER,
    Life_Expectancy_Years REAL,
    Govt_Effectiveness REAL,
    Rule_of_Law REAL,
    Control_of_Corruption REAL,
    Political_Stability REAL,
    Voice_and_Accountability REAL,
    GDP_Per_Capita REAL,
    FOREIGN KEY (Country, Year) REFERENCES happiness_index_data(Country, Year)
)
"""

# Defined and made the schema for happiness_index_data table that
# I will put in database.db
happiness_schema = """
CREATE TABLE IF NOT EXISTS happiness_index_data (
    Year INTEGER,
    Rank INTEGER,
    Country TEXT,
    Happiness_Score REAL,
    Social_support REAL,
    Freedom_to_make_life_choices REAL,
    Generosity REAL,
    Perceptions_of_corruption REAL,
    PRIMARY KEY (Country, Year)
)
"""

I used foreign key links to happiness data on Country and Year. These two were the only unique identifiers, but since there are multiple countries and years, the foreign key must have to match BOTH the year and Country, which is a sucessful key.

Reasoning for data types:
- Country is a text because it is a string
- Year, GDP, and Population is an integer because it is reported as a whole number
- All other values are REAL's because they have the potential to have 3 whole number values, but most have 2. They include 2 decimal values

In [15]:
# Created SQLAlchemy engine
engine = create_engine(f"sqlite:///{db_path}")

# Create tables using raw SQL
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS world_bank_data"))
    # If the table exists then drop it
    # If the code is reran, it prevents multiple of the same column from being created
    conn.execute(text("DROP TABLE IF EXISTS happiness_index_data"))
    conn.execute(text(world_bank_schema))
    conn.execute(text(happiness_schema))
    conn.commit()

# Insert data into the tables
world_bank_data.to_sql("world_bank_data", engine, if_exists="append", index=False)
happiness_index_data.to_sql("happiness_index_data", engine, if_exists="append", index=False)

36

The database was sucessfully populated with the data from both the World Bank and the Happiness Index datasets. Now my data is ready to be used for analysis.