# Data Processing

After collecting the data, it is very important to clean the data, prepare it, and have it ready for use to analyze it. In this section, I took the raw World Bank JSON data and transformed it into a ready-to-use, structured tabular format. I exported this data into both a csv, and created a dataset, and exported that dataset into database.db. In addition to this, I compiled the 2018-2023 World Happiness Index data, pulled the columns I needed, and cleaned it as well, putting it into a structured database and csv. 

**ADD WHAT EXACTLY I DID

## World Bank Data Cleaning and Processing

In [2]:
# Imported all of the imports that I need
import json
import pandas as pd
import os

# Imported my script and util python file
import sys
sys.path.append('/files/me204-2025-project-jayden/scripts')

# Imported util to reduce redundancy
from utils import indicators
from utils import year_column_map

import sqlite3
# Making sure to import SQL imports for database operations
from sqlalchemy import create_engine, text

After importing the right packages and utils, I loaded in the World Bank Data JSON in from the raw folder to clean and process it by converting it into a dataframe.

In [3]:
# Loaded the raw JSON data in
with open('/files/me204-2025-project-jayden/data/raw/world_bank_raw_data.json', 'r') as f:
    raw_json_data = json.load(f)

# Defined a function that parsed the JSON structure into a list of records (one per country-year-indicator)
# Each record represented a single data point for a specific country and year
# The function extracted the country name, ISO3 code, year, and the indicator value
# It also handled missing values by assigning None when the indicator value was not available
def parse_json_to_records(json_data, code):
    return [
        {
            'country': entry['country']['value'],
            # Extracted the full country name
            # iso3 is the code name (or sort of like an id) for each country
            'iso3': entry['country']['id'],
            # Extracted the ISO3 country code
            'year': int(entry['date']),
            # Converted the year from string to integer
            code: float(entry['value']) if entry['value'] is not None else None
        }
        for entry in json_data[1]
        # Iterated over the list of data entries in the JSON response
    ]

In [4]:
# Created a list of DataFrame (one for each indicator) using list comprehension
# Each DataFrame was renamed to use an easily readable label instead of the raw indicator code
dfs = [
    pd.DataFrame(parse_json_to_records(raw_json_data[code], code)).rename(columns={code: label})
    for code, label in indicators.items()
]

# Merged all individual DataFrames into a single DataFrame by iteratively joining on country, iso3, and year
df_full = dfs[0]
for df in dfs[1:]:
    df_full = pd.merge(df_full, df, on=['country', 'iso3', 'year'], how='outer')

# Sorted the final DataFrame by country code and year, then reset the index for cleanliness
df_full = df_full.sort_values(['iso3', 'year']).reset_index(drop=True)

# Displayed the final DataFrame
df_full

,country,iso3,year,GDP_Current_USD,Health_Expenditure_%_GDP,Education_Expenditure_%_GDP,Unemployment_Rate_%,Inflation_Annual_%,FDI_Net_Inflows_%_GDP,Population_Total,Life_Expectancy_Years,Govt_Effectiveness,Rule_of_Law,Control_of_Corruption,Political_Stability,Voice_and_Accountability
0,Denmark,DK,2018,3.552934e+11,10.097642,7.296910,5.131,0.813609,2.466701,5793636.0,80.953659,1.810602,1.773226,2.156996,0.931982,1.574022
1,Denmark,DK,2019,3.454015e+11,10.152435,7.255050,5.018,0.758132,-1.100671,5814422.0,81.451220,1.873268,1.833377,2.121649,0.967599,1.543434
2,Denmark,DK,2020,3.556310e+11,10.718546,7.383540,5.637,0.420712,0.363875,5831404.0,81.602439,1.840067,1.806794,2.236486,0.920234,1.514785
3,Denmark,DK,2021,4.083782e+11,10.747286,6.999930,5.043,1.853045,4.162143,5856733.0,81.404878,1.959734,1.895721,2.333371,0.928663,1.544976
4,Denmark,DK,2022,4.019456e+11,9.475862,5.296434,4.434,7.696567,7.667934,5903037.0,81.304878,1.990135,1.899581,2.402638,0.868918,1.591254
5,Denmark,DK,2023,4.070919e+11,9.417846,NaN,5.094,3.305178,1.124286,5946952.0,81.853659,2.015649,1.908936,2.376053,0.850848,1.664699
6,Denmark,DK,2024,4.294574e+11,NaN,NaN,5.587,1.372200,4.214609,5976992.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Finland,FI,2018,2.738693e+11,9.045142,6.275580,7.361,1.083821,-3.844567,5515525.0,81.734146,2.013878,2.034399,2.171759,0.891890,1.589352
8,Finland,FI,2019,2.670148e+11,9.171427,6.416950,6.695,1.024094,6.097077,5521606.0,81.982927,1.972805,2.012629,2.113933,0.835259,1.562998
9,Finland,FI,2020,2.700003e+11,9.632496,6.634940,7.759,0.290555,-0.939114,5529543.0,81.931707,1.901004,2.018592,2.170440,0.981825,1.609512
10,Finland,FI,2021,2.942232e+11,9.834583,6.538260,7.617,2.194574,8.014063,5541017.0,81.885366,1.918311,2.013476,2.237841,0.963276,1.609369
11,Finland,FI,2022,2.802531e+11,9.658922,NaN,6.719,7.123508,4.666912,5556106.0,81.187805,1.754582,1.957900,2.246865,0.894830,1.606770
12,Finland,FI,2023,2.949506e+11,NaN,NaN,7.151,6.250643,-0.115644,5583911.0,81.685366,1.738607,1.967046,2.221517,0.713987,1.632636
13,Finland,FI,2024,2.998356e+11,NaN,NaN,8.260,1.565689,0.660778,5637214.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Iceland,IS,2018,2.626085e+10,8.438176,7.563500,2.704,2.682918,-2.371280,352721.0,82.860976,1.425814,1.679251,1.805603,1.394817,1.389574
15,Iceland,IS,2019,2.468134e+10,8.639963,7.601300,3.507,3.013972,-2.254592,360563.0,83.163415,1.482035,1.726326,1.670638,1.619806,1.302418
16,Iceland,IS,2020,2.162995e+10,9.677807,8.583830,5.478,2.847924,-4.061305,366463.0,83.063415,1.475930,1.750222,1.666864,1.375032,1.381754
17,Iceland,IS,2021,2.577034e+10,9.786970,8.217810,6.029,4.444240,1.805387,372520.0,83.165854,1.593884,1.712633,1.760121,1.372353,1.362640
18,Iceland,IS,2022,2.869645e+10,9.285939,7.139665,3.789,8.308755,4.872124,382003.0,82.119512,1.562987,1.702905,1.567500,1.249699,1.427459
19,Iceland,IS,2023,3.145222e+10,8.991660,NaN,3.518,8.736303,5.189089,393349.0,82.607317,1.555121,1.721118,1.551306,1.214404,1.445902
20,Iceland,IS,2024,3.346281e+10,NaN,NaN,3.107,5.856838,1.564433,404610.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Norway,NO,2018,4.397886e+11,9.960379,7.595630,3.801,2.764831,-1.287964,5311916.0,82.758537,1.845146,1.922077,2.050310,1.120849,1.709350
22,Norway,NO,2019,4.087428e+11,10.438075,7.864560,3.684,2.167730,3.995134,5347896.0,82.958537,1.827732,1.940843,2.033754,1.142112,1.653543
23,Norway,NO,2020,3.676334e+11,11.424164,8.372820,4.424,1.286585,-0.892552,5379475.0,83.209756,1.887772,1.929922,2.065769,1.221606,1.720227
24,Norway,NO,2021,5.033680e+11,9.814264,6.960220,4.359,3.483881,3.646439,5408320.0,83.163415,1.795399,1.907918,2.108310,1.088626,1.738036
25,Norway,NO,2022,5.962977e+11,7.948033,3.968020,3.231,5.764123,2.394464,5457127.0,82.509756,1.941720,1.760853,2.067638,0.861239,1.780675
26,Norway,NO,2023,4.829497e+11,NaN,NaN,3.572,5.517850,2.854392,5519594.0,83.112195,1.799935,1.833982,2.113522,0.892857,1.777254
27,Norway,NO,2024,4.837274e+11,NaN,NaN,3.970,3.145301,0.850406,5572272.0,NaN,NaN,NaN,NaN,NaN,NaN
28,Sweden,SE,2018,5.513125e+11,10.941063,7.640840,6.365,1.953535,-0.129537,10175214.0,82.558537,1.671094,1.784075,2.109637,0.921418,1.580797
29,Sweden,SE,2019,5.321693e+11,10.832243,7.638510,6.833,1.784151,2.984475,10278887.0,83.109756,1.674012,1.792162,2.091949,1.011886,1.559058
30,Sweden,SE,2020,5.451476e+11,11.332970,7.925610,8.291,0.497367,3.396835,10353442.0,82.356098,1.670027,1.767410,2.094511,0.997377,1.498041
31,Sweden,SE,2021,6.371869e+11,11.101806,7.572200,8.722,2.163197,9.099547,10415811.0,83.056098,1.610255,1.699357,2.098498,1.014508,1.492748
32,Sweden,SE,2022,5.798957e+11,10.498570,NaN,7.392,8.369291,9.303925,10486941.0,83.058537,1.572405,1.688509,2.061525,0.910905,1.526128
33,Sweden,SE,2023,5.854900e+11,10.886824,NaN,7.611,8.548625,3.077149,10536632.0,83.309756,1.601383,1.604023,2.028246,0.758365,1.574832
34,Sweden,SE,2024,6.101178e+11,NaN,NaN,8.528,2.835817,4.374652,10569709.0,NaN,NaN,NaN,NaN,NaN,NaN
35,United States,US,2018,2.065652e+13,16.615309,4.895020,3.896,2.442583,1.039454,328529577.0,78.639024,1.536972,1.475687,1.292747,0.386239,0.995457
36,United States,US,2019,2.153998e+13,16.661253,4.957470,3.669,1.812210,1.466965,330226227.0,78.787805,1.453415,1.424173,1.180357,0.118299,0.905182
37,United States,US,2020,2.135410e+13,18.813253,5.399980,8.055,1.233584,0.641872,331577720.0,76.980488,1.274593,1.336494,1.037832,-0.027900,0.856266
38,United States,US,2021,2.368117e+13,17.506386,5.428300,5.349,4.697859,2.009212,332099760.0,76.329268,1.297531,1.389157,1.019278,-0.014425,0.876889
39,United States,US,2022,2.600689e+13,16.496140,NaN,3.650,8.002800,1.572591,334017321.0,77.434146,1.255496,1.369202,1.104145,0.008701,0.860348
40,United States,US,2023,2.772071e+13,NaN,NaN,3.638,4.116338,1.258207,336806231.0,78.385366,1.217201,1.327678,1.123433,0.029425,0.877519
41,United States,US,2024,2.918489e+13,NaN,NaN,4.106,2.949525,1.329421,340110988.0,NaN,NaN,NaN,NaN,NaN,NaN

After organizing the data into a dataframe, there seemed to be a large amount of columns and rows that need to be cleaned for easier readability. For example, columns are camel cased, values have a large amount of unnecessary decimals, GDP is in scientific notation, and the Country Code is not really needed. Lastly, 2024 has mostly NaN values, most likely because data hasn't been fully reported. I fixed these problems and cleaned the dataset below.

In [5]:
# Round all numeric columns to 2 decimal places
df_full = df_full.round(2)

# Format the 'GDP_Current_USD' column without scientific notation using list comprehension
# Created a new list called 'formatted_gdp', and for each value in the 'GDP_Current_USD' column, format it to:
#   - include commas for thousands
#   - show exactly two decimal places
# If the value is null, keep it as None
# This ensures that GDP values are more readable and consistent instead of being in scientific notation
formatted_gdp = [
    float(val) if pd.notnull(val) else None
    # Formatted string
    for val in df_full["GDP_Current_USD"].values
    # Looping through all values in GDP
]
df_full["GDP_Current_USD"] = formatted_gdp

# Remove all rows where the 'year' column equals 2024
# This filters a lot of null values out
df_full = df_full[df_full['year'] < 2024].reset_index(drop=True)

df_full = df_full.drop('iso3', axis = 1)

df_full.head()

,country,year,GDP_Current_USD,Health_Expenditure_%_GDP,Education_Expenditure_%_GDP,Unemployment_Rate_%,Inflation_Annual_%,FDI_Net_Inflows_%_GDP,Population_Total,Life_Expectancy_Years,Govt_Effectiveness,Rule_of_Law,Control_of_Corruption,Political_Stability,Voice_and_Accountability
0,Denmark,2018,3.552934e+11,10.10,7.30,5.13,0.81,2.47,5793636.0,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,3.454015e+11,10.15,7.26,5.02,0.76,-1.10,5814422.0,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,3.556310e+11,10.72,7.38,5.64,0.42,0.36,5831404.0,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,4.083782e+11,10.75,7.00,5.04,1.85,4.16,5856733.0,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,4.019456e+11,9.48,5.30,4.43,7.70,7.67,5903037.0,81.30,1.99,1.90,2.40,0.87,1.59

In [6]:
# Reformat column names to improve readability
# Made country and year have the correct uppercase titles
df_full = df_full.rename(columns={"country": "Country"})
df_full = df_full.rename(columns={"year": "Year"})

# Replace all underscores "_" with spaces " " across all column headers
df_full.columns = [col.replace('_', ' ') for col in df_full.columns]
df_full.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability
0,Denmark,2018,3.552934e+11,10.10,7.30,5.13,0.81,2.47,5793636.0,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,3.454015e+11,10.15,7.26,5.02,0.76,-1.10,5814422.0,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,3.556310e+11,10.72,7.38,5.64,0.42,0.36,5831404.0,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,4.083782e+11,10.75,7.00,5.04,1.85,4.16,5856733.0,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,4.019456e+11,9.48,5.30,4.43,7.70,7.67,5903037.0,81.30,1.99,1.90,2.40,0.87,1.59

After that portion of the cleaning, I noticed that GDP and population total has decimals that are not needed, so I'll change that below.

In [7]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      36 non-null     object
 1   Year                         36 non-null     int64
 2   GDP Current USD              36 non-null     float64
 3   Health Expenditure % GDP     33 non-null     float64
 4   Education Expenditure % GDP  27 non-null     float64
 5   Unemployment Rate %          36 non-null     float64
 6   Inflation Annual %           36 non-null     float64
 7   FDI Net Inflows % GDP        36 non-null     float64
 8   Population Total             36 non-null     float64
 9   Life Expectancy Years        36 non-null     float64
 10  Govt Effectiveness           36 non-null     float64
 11  Rule of Law                  36 non-null     float64
 12  Control of Corruption        36 non-null     float64
 13  Political Stability          36 non-null     float64
 14  Voice and Accountability     36 non-null     float64
dtypes: float64(13), int64(1), object(1)
memory usage: 4.3+ KB

It looks like GDP is a float. So it should be converted into an Int and rounded.

In [8]:
# Rounded 'Population_Total' to whole numbers by converting to integer
# Used pd.Series.round(0) and then converted it to int to remove decimals cleanly
df_full['Population Total'] = df_full['Population Total'].round(0).astype('Int64')

# Used the same logic
df_full['GDP Current USD'] = df_full['GDP Current USD'].round(0).astype('Int64')

df_full

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59
5,Denmark,2023,407091920305,9.42,NaN,5.09,3.31,1.12,5946952,81.85,2.02,1.91,2.38,0.85,1.66
6,Finland,2018,273869255596,9.05,6.28,7.36,1.08,-3.84,5515525,81.73,2.01,2.03,2.17,0.89,1.59
7,Finland,2019,267014821129,9.17,6.42,6.70,1.02,6.10,5521606,81.98,1.97,2.01,2.11,0.84,1.56
8,Finland,2020,270000311606,9.63,6.63,7.76,0.29,-0.94,5529543,81.93,1.90,2.02,2.17,0.98,1.61
9,Finland,2021,294223210496,9.83,6.54,7.62,2.19,8.01,5541017,81.89,1.92,2.01,2.24,0.96,1.61
10,Finland,2022,280253099309,9.66,NaN,6.72,7.12,4.67,5556106,81.19,1.75,1.96,2.25,0.89,1.61
11,Finland,2023,294950618733,NaN,NaN,7.15,6.25,-0.12,5583911,81.69,1.74,1.97,2.22,0.71,1.63
12,Iceland,2018,26260850582,8.44,7.56,2.70,2.68,-2.37,352721,82.86,1.43,1.68,1.81,1.39,1.39
13,Iceland,2019,24681343649,8.64,7.60,3.51,3.01,-2.25,360563,83.16,1.48,1.73,1.67,1.62,1.30
14,Iceland,2020,21629953194,9.68,8.58,5.48,2.85,-4.06,366463,83.06,1.48,1.75,1.67,1.38,1.38
15,Iceland,2021,25770339317,9.79,8.22,6.03,4.44,1.81,372520,83.17,1.59,1.71,1.76,1.37,1.36
16,Iceland,2022,28696453180,9.29,7.14,3.79,8.31,4.87,382003,82.12,1.56,1.70,1.57,1.25,1.43
17,Iceland,2023,31452223862,8.99,NaN,3.52,8.74,5.19,393349,82.61,1.56,1.72,1.55,1.21,1.45
18,Norway,2018,439788625884,9.96,7.60,3.80,2.76,-1.29,5311916,82.76,1.85,1.92,2.05,1.12,1.71
19,Norway,2019,408742840909,10.44,7.86,3.68,2.17,4.00,5347896,82.96,1.83,1.94,2.03,1.14,1.65
20,Norway,2020,367633418887,11.42,8.37,4.42,1.29,-0.89,5379475,83.21,1.89,1.93,2.07,1.22,1.72
21,Norway,2021,503367986030,9.81,6.96,4.36,3.48,3.65,5408320,83.16,1.80,1.91,2.11,1.09,1.74
22,Norway,2022,596297651036,7.95,3.97,3.23,5.76,2.39,5457127,82.51,1.94,1.76,2.07,0.86,1.78
23,Norway,2023,482949731777,NaN,NaN,3.57,5.52,2.85,5519594,83.11,1.80,1.83,2.11,0.89,1.78
24,Sweden,2018,551312498430,10.94,7.64,6.36,1.95,-0.13,10175214,82.56,1.67,1.78,2.11,0.92,1.58
25,Sweden,2019,532169294166,10.83,7.64,6.83,1.78,2.98,10278887,83.11,1.67,1.79,2.09,1.01,1.56
26,Sweden,2020,545147614972,11.33,7.93,8.29,0.50,3.40,10353442,82.36,1.67,1.77,2.09,1.00,1.50
27,Sweden,2021,637186904844,11.10,7.57,8.72,2.16,9.10,10415811,83.06,1.61,1.70,2.10,1.01,1.49
28,Sweden,2022,579895717344,10.50,NaN,7.39,8.37,9.30,10486941,83.06,1.57,1.69,2.06,0.91,1.53
29,Sweden,2023,585489968189,10.89,NaN,7.61,8.55,3.08,10536632,83.31,1.60,1.60,2.03,0.76,1.57
30,United States,2018,20656516000000,16.62,4.90,3.90,2.44,1.04,328529577,78.64,1.54,1.48,1.29,0.39,1.00
31,United States,2019,21539982000000,16.66,4.96,3.67,1.81,1.47,330226227,78.79,1.45,1.42,1.18,0.12,0.91
32,United States,2020,21354105000000,18.81,5.40,8.06,1.23,0.64,331577720,76.98,1.27,1.34,1.04,-0.03,0.86
33,United States,2021,23681171000000,17.51,5.43,5.35,4.70,2.01,332099760,76.33,1.30,1.39,1.02,-0.01,0.88
34,United States,2022,26006893000000,16.50,NaN,3.65,8.00,1.57,334017321,77.43,1.26,1.37,1.10,0.01,0.86
35,United States,2023,27720709000000,NaN,NaN,3.64,4.12,1.26,336806231,78.39,1.22,1.33,1.12,0.03,0.88

I would also like to add the GDP per capita column, because it would be very useful in the future for more of a relative number to take away biasness for larger countries

In [9]:
# GDP / Population = GDP per Capita
df_full['GDP Per Capita'] = df_full['GDP Current USD'] / df_full['Population Total']
df_full.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability,GDP Per Capita
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57,61324.766504
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54,59404.266325
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51,60985.48856
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54,69727.987368
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59,68091.319114

Now the GDP per Capita is also a decimal, so I rounded it two decimals

In [10]:
world_bank_data = df_full.round(2)
world_bank_data.head()

,Country,Year,GDP Current USD,Health Expenditure % GDP,Education Expenditure % GDP,Unemployment Rate %,Inflation Annual %,FDI Net Inflows % GDP,Population Total,Life Expectancy Years,Govt Effectiveness,Rule of Law,Control of Corruption,Political Stability,Voice and Accountability,GDP Per Capita
0,Denmark,2018,355293374912,10.10,7.30,5.13,0.81,2.47,5793636,80.95,1.81,1.77,2.16,0.93,1.57,61324.77
1,Denmark,2019,345401473013,10.15,7.26,5.02,0.76,-1.10,5814422,81.45,1.87,1.83,2.12,0.97,1.54,59404.27
2,Denmark,2020,355631021932,10.72,7.38,5.64,0.42,0.36,5831404,81.60,1.84,1.81,2.24,0.92,1.51,60985.49
3,Denmark,2021,408378204640,10.75,7.00,5.04,1.85,4.16,5856733,81.40,1.96,1.90,2.33,0.93,1.54,69727.99
4,Denmark,2022,401945576108,9.48,5.30,4.43,7.70,7.67,5903037,81.30,1.99,1.90,2.40,0.87,1.59,68091.32

I then saved that to processed data so that it's stored in the project

In [11]:
world_bank_data.to_csv('/files/me204-2025-project-jayden/data/processed/world_bank_cleaned_data.csv', index=False)

## World Happiness Index Data Cleaning and Processing

Now that the full dataset of Economic Indicators is cleaned and ready to use, I will now clean, compile, and merge all of my World Happiness Data of csv's into one World Happiness Data dataframe with only the countries that I need. The raw csv's for this folder have different column values, and different column names, so a large amount of cleaning needs to be done before this dataset is ready

In [12]:
# Retrieving the data from the files
folder_path = '/files/me204-2025-project-jayden/data/raw/World_Happiness_Data'

all_data = []

for year in range(2018, 2024):
    # Made a year counter so I can add it for every row to the dataset
    year_str = str(year)
    # Constructed the full file path for the given year's CSV
    file_path = os.path.join(folder_path, f"{year_str}.csv")

    df = pd.read_csv(file_path)
    # Retrieved the column name mapping for this specific year from the util year_column_map 
    # function, which basically is just a parameter dictionary of the columns I want to pull from the
    # Happiness Index Dataset
    col_map = year_column_map[year_str]
    
    # Used dictionary comprehension to extract and rename relevant columns
    # This function uses the year_column_map dictionary to pull the values thta I need from the World Happiness
    # Index even if columns don't have the same name as other datasets
    extracted = {
        final_col: (
            range(1, len(df) + 1) if final_col == 'Rank' and orig_col is None
            # If the final column is 'Rank' and the original column is missing, then I generated rank values 
            # from 1 to n
            else df[orig_col] if orig_col in df.columns
            else [None] * len(df)
            # If the original column existed in the DataFrame, then I pulled its values from the year_column_map
            # otherwise, if the column was missing, I filled it with None values
        )
        for final_col, orig_col in col_map.items()
        # Loop through all years/csv's
    }
    
    cleaned_df = pd.DataFrame(extracted)
    # Added a year column so we can keep track of the year
    cleaned_df['Year'] = year
    # Appended all the clean datasets all onto each other
    all_data.append(cleaned_df)

# Concatenate all years into a dataframe
final_df = pd.concat(all_data, ignore_index=True)
final_df

,Rank,Country,Happiness Score,Social support,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.592,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.582,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.590,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.644,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.549,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...
893,133,Congo (Kinshasa),3.207,0.652,0.664,0.086,0.834,2023
894,134,Zimbabwe,3.204,0.690,0.654,-0.046,0.766,2023
895,135,Sierra Leone,3.138,0.555,0.660,0.105,0.858,2023
896,136,Lebanon,2.392,0.530,0.474,-0.141,0.891,2023
897,137,Afghanistan,1.859,0.341,0.382,-0.081,0.847,2023

The Year column being at the end is not optimal, especially if I am turning this into a dataset for the database, and year is a key. For this reason, I will reorder the columns. I also only need the 6 countries that I am analyzing.

In [13]:
# Reorder columnds
cols_order = ['Year', 'Rank', 'Country', 'Happiness Score', 'Social support', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
final_df = final_df[cols_order]

# I only need the 5 countries that I am analyzing
target_countries = ['United States', 'Finland', 'Sweden', 'Denmark', 'Iceland', 'Norway']
happiness_index_data = final_df[final_df['Country'].isin(target_countries)].reset_index(drop=True)

# Save the Dataset on a csv
happiness_index_data.to_csv('/files/me204-2025-project-jayden/data/processed/merged_happiness.csv', index=False)
happiness_index_data

,Year,Rank,Country,Happiness Score,Social support,Freedom to make life choices,Generosity,Perceptions of corruption
0,2018,1,Finland,7.6320,1.592000,0.681000,0.202000,0.393000
1,2018,2,Norway,7.5940,1.582000,0.686000,0.286000,0.340000
2,2018,3,Denmark,7.5550,1.590000,0.683000,0.284000,0.408000
3,2018,4,Iceland,7.4950,1.644000,0.677000,0.353000,0.138000
4,2018,9,Sweden,7.3140,1.501000,0.659000,0.285000,0.383000
5,2018,18,United States,6.8860,1.471000,0.547000,0.291000,0.133000
6,2019,1,Finland,7.7690,1.587000,0.596000,0.153000,0.393000
7,2019,2,Denmark,7.6000,1.573000,0.592000,0.252000,0.410000
8,2019,3,Norway,7.5540,1.582000,0.603000,0.271000,0.341000
9,2019,4,Iceland,7.4940,1.624000,0.591000,0.354000,0.118000
10,2019,7,Sweden,7.3430,1.487000,0.574000,0.267000,0.373000
11,2019,19,United States,6.8920,1.457000,0.454000,0.280000,0.128000
12,2020,1,Finland,7.8087,0.954330,0.949172,-0.059482,0.195445
13,2020,2,Denmark,7.6456,0.955991,0.951444,0.066202,0.168489
14,2020,4,Iceland,7.5045,0.974670,0.948892,0.246944,0.711710
15,2020,5,Norway,7.4880,0.952487,0.955750,0.134533,0.263218
16,2020,7,Sweden,7.3535,0.926311,0.939144,0.111615,0.250880
17,2020,18,United States,6.9396,0.914219,0.842620,0.149892,0.699715
18,2021,1,Finland,7.8420,0.954000,0.949000,-0.098000,0.186000
19,2021,2,Denmark,7.6200,0.954000,0.946000,0.030000,0.179000
20,2021,4,Iceland,7.5540,0.983000,0.955000,0.160000,0.673000
21,2021,6,Norway,7.3920,0.954000,0.960000,0.093000,0.270000
22,2021,7,Sweden,7.3630,0.934000,0.945000,0.086000,0.237000
23,2021,19,United States,6.9510,0.920000,0.837000,0.098000,0.698000
24,2022,1,Finland,7.8210,1.258000,0.736000,0.109000,0.534000
25,2022,2,Denmark,7.6360,1.243000,0.719000,0.188000,0.532000
26,2022,3,Iceland,7.5570,1.320000,0.718000,0.270000,0.191000
27,2022,7,Sweden,7.3840,1.204000,0.724000,0.218000,0.512000
28,2022,8,Norway,7.3650,1.239000,0.728000,0.217000,0.474000
29,2022,16,United States,6.9770,1.182000,0.574000,0.220000,0.177000
30,2023,1,Finland,7.8040,0.969000,0.961000,-0.019000,0.182000
31,2023,2,Denmark,7.5860,0.954000,0.934000,0.134000,0.196000
32,2023,3,Iceland,7.5300,0.983000,0.936000,0.211000,0.668000
33,2023,6,Sweden,7.3950,0.939000,0.948000,0.165000,0.202000
34,2023,7,Norway,7.3150,0.943000,0.947000,0.141000,0.283000
35,2023,15,United States,6.8940,0.919000,0.800000,0.137000,0.689000

Now the Happiness Index dataset is ready to use. I then created a database comprising of both the Happinass Index dataset and the World Bank Economic Indicator dataset. To do this, I used python to clean the data so it was ready for SQL, and then used SQL to create the datasetsnd used SQL Alcheny to connect it to the database.

### Cleaning to data to make it ready for SQL

In [14]:
# Define the database path
db_path = "/files/me204-2025-project-jayden/data/database.db"

# SQL couldn't handle % and spaces, so I converted columns into a compatible form
world_bank_data.columns = (
    world_bank_data.columns
    .str.strip()
    .str.replace(" ", "_")
    # Removed spaces and replace % with percent, and space with _
    .str.replace("%", "percent")
)

happiness_index_data.columns = (
    # Did the same with the Happiness Index (cleaned it so SQL can read it)
    happiness_index_data.columns
    .str.strip()
    .str.replace(" ", "_")
)

### Creating the datasets

In [15]:
# Defined and made the schema for the world_bank_data table that I
# I will put in database.db
world_bank_schema = """
CREATE TABLE IF NOT EXISTS world_bank_data (
    Country TEXT,
    Year INTEGER,
    GDP_Current_USD INTEGER,
    Health_Expenditure_percent_GDP DECIMAL(5,2),
    Education_Expenditure_percent_GDP DECIMAL(5,2),
    Unemployment_Rate_percent DECIMAL(5,2),
    Inflation_Annual_percent DECIMAL(5,2),
    FDI_Net_Inflows_percent_GDP DECIMAL(5,2),
    Population_Total INTEGER,
    Life_Expectancy_Years DECIMAL(5,2),
    Govt_Effectiveness DECIMAL(5,2),
    Rule_of_Law DECIMAL(5,2),
    Control_of_Corruption DECIMAL(5,2),
    Political_Stability DECIMAL(5,2),
    Voice_and_Accountability DECIMAL(5,2),
    GDP_Per_Capita DECIMAL(32, 10)
)
"""

# Defined and made the schema for happiness_index_data table that
# I will put in database.db
happiness_schema = """
CREATE TABLE IF NOT EXISTS happiness_index_data (
    Year INTEGER,
    Rank INTEGER,
    Country TEXT,
    Happiness_Score REAL,
    Social_support REAL,
    Freedom_to_make_life_choices REAL,
    Generosity REAL,
    Perceptions_of_corruption REAL
)
"""

### Connecting the datasets to database.db

In [16]:
# Created SQLAlchemy engine
engine = create_engine(f"sqlite:///{db_path}")

# Create tables using raw SQL
with engine.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS world_bank_data"))
    # 
    conn.execute(text("DROP TABLE IF EXISTS happiness_index_data"))
    conn.execute(text(world_bank_schema))
    conn.execute(text(happiness_schema))
    conn.commit()

# Insert data into the tables
world_bank_data.to_sql("world_bank_data", engine, if_exists="append", index=False)
happiness_index_data.to_sql("happiness_index_data", engine, if_exists="append", index=False)

36